/* Colors!
--------*/
:root{
  --cover-bg: #FFB700;
  --back-cover-bg: #FFB700;
  --bg-one:  #FFFCEB;
  --bg-two:  #FBF1A9;
  --bg-three: #FFDFDF;
  --bg-four: #CDECFF;
  --bg-five: #E8FDF5;
  --text: #111111;

  --info-titles:  #EEEEEE;

  --copy-button-bg: #FFB700;
  --copy-button-text: #EEEEEE;
  --copy-button-bg-hover: white;
  --copy-button-text-hover: #5E2CA5;
}

/*Fonts and Font Sizes!
---------------------*/
:root{
  --title-text: 'jellee';
  --primary-text: 'arial';
}

/* Fonts Available:!
--------------------

These are Web Safe Fonts that seemed to work on the browser:

  Serif: 
   Times New Roman
   Georgia
   cochin

  Sans Serif:
    arial
    arial black
    comic sans ms
    impact
    trebuchet ms

  Monospace:
    courier new
    monospace

  Custom (added by me, Zach!):
    jellee (curvy like a gummy)


Here's where we leaving the custom fonts
--------------------------------------*/

@font-face {
    font-family: 'jellee';
    src: url('../fonts/jellee/Jellee-Roman.otf');
    font-weight: normal;
    font-style: normal;
}

