body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--title-text);
  color: var(--text);
}

#back-cover{
    position: relative;
    background: var(--back-cover-bg);
    margin: 0;
    height: 100vh;
    width: 100%;
}

#back-cover h1{
    margin-top: 0;
    padding: 1em;
    text-align: center;
    font-size: 5.5vw;
}
@media(max-width: 667px){
    #back-cover{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #back-cover h1{
        font-size: 11vw;
    }
}


#cover {
  background: var(--cover-bg);
  height: 100vh;
  width: 100%;
}

#cover h1{
    padding-top: 0;
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font: cochin;
    font-size: 11vw;
}

#cover h2{
    padding-top: 0;
    margin-top: 0;
    text-align: right;
    padding-right: 1em;
}

#colophon {
  position: relative;
  background: url('../cover-image/cover.jpg');
  background-size: cover;
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5em;
  min-height: 100vh;
  margin: auto;
  color: white;
  text-align: center;
}
@media(max-width: 667px){
    #colophon{
      background-position: top;
    }
}

#info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
}
@media(max-width: 667px){
    #info{
        position: relative;
        padding: 2em;
    }
}

#info strong{
    color: var(--info-titles);
    letter-spacing: .2em;
}

#invite-to-copy {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 25%;
}
@media(max-width: 667px){
    #invite-to-copy{
        width: auto;
        position: relative;
    }
}

#invite-to-copy button{
  cursor: pointer;
  margin-bottom: 1.2em;
  font-size: 1.2em;
  letter-spacing: .2em;
  background-color: var(--copy-button-bg);
 color: var(--copy-button-text);
}

#invite-to-copy button:hover{
  background-color: var(--copy-button-bg-hover);
  color: var(--copy-button-text-hover);
}

.text {
  font-family: 'helvetica';
  min-height: 100vh;   
  background: var(--bg-two);
  padding: 1em;
  margin: 0;
  font-size: 4em;
  line-height: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  @media (max-width: 667px) {
    .text {
      padding: 0.8em;
      font-size: 2.3em;
    }
  }
